@import 'default/default';

body {
    font-family: $font-PingFangSB;
}
.container {
    min-height: auto;
}

.title {
    letter-spacing: 0;
}

.form-group {
    display: flex;
    margin-top: 5px;
}
.submit-group {
    margin-top: 1.2em;
}
.label {
    flex-basis: 100px;
}

.block {
    max-width: 350px;
    margin: 0 auto;
}

.btn {
    flex-basis: 100px;
    margin-right: 1em;
    color: map-get($color-todo, light-grey-two);
    background-color: map-get($color-todo, drab);
    border-style: none;
    border-bottom: solid 1px;
    text-decoration: none;
    transition: all .2s ease-in;

    &:hover {
        cursor: pointer;
        background-color: transparent;
        color: map-get($color-todo, drab);
        border-bottom: solid 1px map-get($color-todo, drab);
    }

    &:focus {
        outline: none;
    }
}